@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form action="/Recipes/Create" method="post">
    <label for="recipeName">Recipe Name:</label>
    <input type="text" id="recipeName" name="Name" />

    <label for="ingredient">Ingredient:</label>
    <input type="text" id="ingredients" name="Ingredients" />

    <button type="submit">Save</button>
</form>