@model List<Recipe>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@foreach (Recipe recipe in Model)
{
    <div>
        <p>
            <strong>@recipe.Name</strong>
            <a href="/Recipes/Show/@recipe.Id">Show</a>
        </p>
        <form action="/Recipes/Delete/@recipe.Id" method="post">
            <button type="submit">Delete</button>
        </form>
    </div>
}

<div>
    <a href="/Recipes/Create">Create Recipe</a>
</div>