@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form action="/Ingredients/Create" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="Name" />

    <label for="taste">Taste:</label>
    <input type="text" id="taste" name="Taste" />

    <button type="submit">Save</button>
</form>
